@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 30rem;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#f9984c";
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: "#f9984c";
}

.btn {
  text-transform: capitalize !important;
}

.btn-primary {
  color: white !important;
}
